{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if not user == current_user %}
                    {% if not current_user.is_following(user) %}
                        <form action="{{ url_for('post.follow', username=user.username)}}" method="POST">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value="Follow", class="btn btn-success")}}
                        </form>
                    {% else %}
                        <form action="{{ url_for('post.unfollow', username=user.username) }}" method="POST">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value="Unfollow", class="btn btn-danger")}}
                        </form>
                    {% endif %}
                {% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('post.edit_profile') }}">Edit your profile</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

{% endblock %}